<!-- carousel -->
<div
  id="carouselExampleCaptions"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselExampleCaptions"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleCaptions"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleCaptions"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://img.freepik.com/free-photo/fashion-portrait-young-elegant-woman_1328-2743.jpg?w=996&t=st=1688686089~exp=1688686689~hmac=f262f2df53d6804e8456f346aa82ac5acbdf0335a4da77f3a8f1db222e8a183c"
        class="d-block w-100"
        alt="Wild Landscape"
      />
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
      <div class="carousel-caption d-none d-sm-block mb-5 mt-5">
        <h1 class="mb-4">
          <strong>Koleksi Kemeja Wanita Terbaru</strong>
        </h1>
        <p>
          <strong
            >Temukan gaya terkini dengan kemeja wanita kami yang modis. Mulai
            dari kemeja lengan panjang hingga kemeja lengan pendek, kami
            memiliki pilihan yang sesuai dengan gaya Anda.</strong
          >
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://img.freepik.com/free-photo/happy-lady-pink-beret-sweater-green-skirt-smiles-reads-messages-phone_197531-24610.jpg?w=996&t=st=1688686125~exp=1688686725~hmac=3a9f6694d7af058d14d0a368b64c819c7b83987549d78877211cfc7ebdc681f4"
        class="d-block w-100"
        alt="Camera"
      />
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
      <div class="carousel-caption d-none d-md-block mb-5 mt-5">
        <h1 class="mb-4">
          <strong>Pakaian Hang Out Wanita yang Nyaman</strong>
        </h1>
        <p>
          <strong
            >Nikmati waktu luang Anda dengan pakaian hang out wanita yang nyaman
            dan stylish. Dari celana jogger yang modis hingga atasan kasual yang
            chic, kami menyediakan pilihan pakaian yang tepat untuk
            Anda.</strong
          >
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://img.freepik.com/free-photo/young-handsome-man-stylish-checkered-jacket-thoughtfully-looking-away-outdoor_574295-1342.jpg?w=996&t=st=1688686163~exp=1688686763~hmac=bcb150f1c5e90cfecbc673335131cc89256831d684c87acc6a76c10ab36367ab"
        class="d-block w-100"
        alt="Exotic Fruits"
      />
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
      <div class="carousel-caption d-none d-md-block mb-5 mt-5">
        <h1 class="mb-4">
          <strong>Kemeja Pria yang Stylish</strong>
        </h1>
        <p>
          <strong
            >Lengkapi penampilan kasual Anda dengan koleksi kemeja pria kami.
            Dari kemeja polo yang nyaman hingga kemeja flanel yang trendi, kami
            memiliki berbagai pilihan yang cocok untuk semua kesempatan.</strong
          >
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselExampleCaptions"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselExampleCaptions"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
